.register-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f4f6f9;
}

.register-card {

    width: 550px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,.1);

}